
html, body {
    height: 100%;
    background-color: #343a40 !important;
}

.login {
    height: 100%;
    display: flex;
    flex-direction: row;
    border: 10px solid #2a2a2a;
}

.login-form {
    height: 100%;
    width: 50%;
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.login-banner {
    height: 100%;
    width: 50%;
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-banner img {
    height: 170px;
    width: 140px;
}
.login-banner span {
    color: #b93a35;
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    text-shadow: 5px -1px 2px black;
}
.form-wrapper {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(316deg, #2e393e 0%, #536065e3 35%, #ececec40 100%);    border: solid 2px black;
    box-shadow: #2d2d2d 10px 10px 6px;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}
.login .form-wrapper button {
    width: 100%;
    margin-top: 30px;
    border: 1px solid white;
    color: #fff;
    transition: .2s ease-in-out;
}
.form-wrapper button:hover{
    cursor: pointer;
    background-color: white;
    transform: scale(1.05);
}

.form-group {
    padding: 10px 0;
}
.login .brand {
    padding-left: 50px;
    padding-top: 20px;
    float: left;
}

.login a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;

}

.login .title {
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}

@media screen and (max-width: 765px){
    .login .title {
        font-size: 25px;
    }
    .login {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .login-form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    
    .login-banner {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .form-wrapper {
        box-shadow: none;
        border: none;
    }
}
    