.main-header {
    background-color: #343a40;
    min-height: 70px;
    font-family: 'Orbitron', sans-serif;
}

.navigation {
    float: right;
    border-bottom: 1px solid #7d8185;
    padding-bottom: 13px;
}
.navigation ul {
    display: flex;
    align-items: center;
}

.brand {
    padding-left: 50px;
    padding-top: 20px;
    float: left;
}

.title {
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    padding-right: 15px;
}

.main-header span {
    color: #b93a35;
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    text-shadow: 5px -1px 2px black;
}

 header a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    
}

.main-header li {
    display: flex;
    padding-left: 38px;
    padding-top: 20px;
}
header #submit {
    width: 100%;
    height: 30px;
    font-family: sans-serif;
    border-radius: 15%;
    background-color: #dd003f;
    border: 2px solid #b93a35;
    transition: .2s ease-in-out;
    align-items: center;
    display: flex;
    padding: 1px;
}
.main-header button:hover{
    cursor: pointer;
    background-color: #b9393500;
    border: 2px solid white;
    color: white;
    transform: scale(1.02);
}