.main-header {
    background-color: #596f78;
}

.title {
    color: #fff;
    font-family: 'Orbitron', sans-serif;
}
.main-header span {
    color: #b93a35;
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    text-shadow: 7px -1px 2px black;
}

.brand {
    padding-left: 50px;
    padding-top: 10px;
}